<a href="https://colab.research.google.com/github/itsryu/N1-NT/blob/main/lista_exercicios_python_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   Crie um programa que solicita ao usuário o nome de 2 produtos, suas quantidades em estoque e seus preços unitários. Depois, exiba uma tabela formatada com alinhamento justificado, casas decimais nos preços e total de cada produto. Use f-strings e. format() para praticar os dois métodos.

In [1]:
produto = []
quantidade = []
preco = []
quantidade_produtos = int(input("Digite a quantidade de produtos a serem lidos: "))

for i in range(quantidade_produtos):
    produto.insert(i, input(f"Digite o nome do {i+1}º produto: "))
    quantidade.insert(i, int(input(f"Digite a quantidade do {i+1}º produto: ")))
    preco.insert(i, float(input(f"Digite o preço do {i+1}º produto: ")))
    print("\n")

print(f"{'Produto':<10}{'Quantidade':<15}{'Preço':<10}{'Total':<10}")

for i in range(quantidade_produtos):
    print(f"{produto[i]:<10}{quantidade[i]:<15}{preco[i]:<10.2f}{quantidade[i]*preco[i]:<10.2f}")

Digite a quantidade de produtos a serem lidos: 2
Digite o nome do 1º produto: banana
Digite a quantidade do 1º produto: 3
Digite o preço do 1º produto: 10


Digite o nome do 2º produto: batata
Digite a quantidade do 2º produto: 5
Digite o preço do 2º produto: 3


Produto   Quantidade     Preço     Total
banana    3              10.00     30.00
batata    5              3.00      15.00

2. Solicite o nome completo de um cliente, o número do pedido e a data de emissão. Formate uma fatura em formato fixo como se fosse enviada por e-mail. O layout deve conter espaços definidos, alinhamento central e colunas formatadas. Use .format() com placeholders posicionais e nomeados.

In [2]:
from datetime import datetime

nome = input("Digite o nome completo do cliente: ")
numero = int(input("Digite o número do pedido: "))
data = datetime.strptime(input("Digite a data de emissão (dd/mm/yyyy): "), "%d/%m/%Y").strftime("%d-%m-%Y")

print("""
========================================
              FATURA
========================================
Cliente: {nome:^30}
Pedido Nº: {pedido:^30}
Data de Emissão: {data:^30}
========================================
""".format(nome=nome, pedido=numero, data=data))

Digite o nome completo do cliente: João da Silva
Digite o número do pedido: 237273238
Digite a data de emissão (dd/mm/yyyy): 07/03/2025

========================================
              FATURA
========================================
Cliente:         João da Silva
Pedido Nº:           237273238
Data de Emissão:           07-03-2025
========================================

3. Peça ao usuário que digite um CPF apenas com números (11 dígitos) e exiba o CPF formatado corretamente no padrão ###.###.###-## utilizando f-strings.

In [3]:
cpf = input("Digite o CPF (apenas números): ")

while (len(cpf) != 11 or not cpf.isdigit()):
    print("CPF inválido. Certifique-se de digitar 11 números.")
    cpf = input("Digite o CPF (apenas números): ")

print(f"{cpf[:3]}.{cpf[3:6]}.{cpf[6:9]}-{cpf[9:]}")

Digite o CPF (apenas números): 12345678900
123.456.789-00

4. Implemente uma função que recebe uma lista de produtos (nome, quantidade, preço unitário) e retorna uma string formatada em estilo de cupom fiscal de supermercado. Inclua nome da loja, data, e o valor total no final, com todos os valores alinhados e com R$ corretamente formatado.

```
Supermercado Malvader     
Data:        05/03/2025 16:24       
------------------------------
Item             Qtd     Preço
Caderno            2     12.50
Caneta            10      2.75
------------------------------
Total                    52.50
```

In [ ]:
from datetime import datetime
from typing import List, NamedTuple

produtos = []

class Produto(NamedTuple):
    nome: str
    quantidade: int
    preco: float

def formatar_recibo(produtos: List[Produto]) -> str:
    nome_loja = "Supermercado Malvader"
    data = datetime.now().strftime("%d/%m/%Y %H:%M")
    cabecalho = f"{nome_loja}\nData:        {data}\n" + "-" * 30
    cabecalho_itens = "Item             Qtd     Preço"
    itens = ""
    total = 0.0

    for produto in produtos:
        total += produto.quantidade * produto.preco
        itens += f"{produto.nome:<15}{produto.quantidade:>5}{produto.preco:>10.2f}\n"

    rodape = "-" * 30 + f"\nTotal{total:>23.2f}"
    recibo = f"{cabecalho}\n{cabecalho_itens}\n{itens}{rodape}"
    return recibo

while (quantidade_produtos := int(input("Digite a quantidade de produtos: "))) <= 0:
    print("Valor inserido é inválido, insira um valor válido.\n")

for i in range(quantidade_produtos):
    nome = input(f"Digite o nome do {i+1}º produto: ")
    quantidade = int(input(f"Digite a quantidade do {i+1}º produto: "))
    preco = float(input(f"Digite o preço do {i+1}º produto: "))
    produtos.append(Produto(nome, quantidade, preco))
    print("\n")

print(formatar_recibo(produtos))

5. Dado um dicionário com nomes de alunos e suas notas, gere um boletim formatado onde:

- Notas acima de 7 aparecem em verde (use ANSI escape codes).
- Notas entre 5 e 7 aparecem em amarelo.
- Notas abaixo de 5 aparecem em vermelho.

Exemplo:

```
Boletim:
Ana       :  9.5 (Aprovado)
João      :  4.0 (Reprovado)
Maria     :  6.5 (Recuperação)
```

In [5]:
from typing import NamedTuple

class Aluno(NamedTuple):
    nome: str
    nota: float

alunos_notas = {
    Aluno("João", 8.0),
    Aluno("Maria", 5.5),
    Aluno("José", 3.0),
    Aluno("Ana", 7.0),
    Aluno("Carlos", 4.0),
    Aluno("Mariana", 6.5),
    Aluno("Pedro", 9.0),
}

GREEN = "\033[92m"
YELLOW = "\033[93m"
RED = "\033[91m"
RESET = "\033[0m"

def nota(nota):
    if nota >= 7:
        return f"{GREEN}{nota:.1f} (Aprovado){RESET}"
    elif 5 <= nota < 7:
        return f"{YELLOW}{nota:.1f} (Recuperação){RESET}"
    else:
        return f"{RED}{nota:.1f} (Reprovado){RESET}"

for aluno in alunos_notas:
    print(f"{aluno.nome:<10} {nota(aluno.nota)}")

Mariana    6.5 (Recuperação)
João       8.0 (Aprovado)
Carlos     4.0 (Reprovado)
José       3.0 (Reprovado)
Pedro      9.0 (Aprovado)
Maria      5.5 (Recuperação)
Ana        7.0 (Aprovado)

6. Crie uma função de log que receba uma mensagem, o nível de criticidade (INFO, WARNING, ERROR) e a hora atual. A função deve gerar uma string formatada com cor e estilo de acordo com o nível (INFO = azul, WARNING = amarelo, ERROR = vermelho). Use f-strings e datetime e # Cores ANSI para o terminal.

```
[2025-03-05 16:33:29] [INFO] Sistema iniciado
[2025-03-05 16:33:29] [WARNING] Atenção: baixo estoque
[2025-03-05 16:33:29] [ERROR] Falha na conexão
```

In [6]:
from datetime import datetime

BLUE = "\033[94m"
YELLOW = "\033[93m"
RED = "\033[91m"
RESET = "\033[0m"

def log(message: str, level: str) -> str:
    current_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    colors = {"INFO": BLUE, "WARNING": YELLOW, "ERROR": RED}
    color = colors.get(level, RESET)
    return f"[{current_time}] [{color}{level}{RESET}] {message}"

print(log("Sistema iniciado", "INFO"))
print(log("Atenção: baixo estoque", "WARNING"))
print(log("Falha na conexão", "ERROR"))

[2025-03-07 16:00:36] [INFO] Sistema iniciado
[2025-03-07 16:00:36] [WARNING] Atenção: baixo estoque
[2025-03-07 16:00:36] [ERROR] Falha na conexão

7. Peça ao usuário o nome de uma tabela, uma lista de colunas e seus tipos de dados, e gere dinamicamente uma string de comando SQL de criação da tabela (CREATE TABLE), formatada com identação correta e alinhamento dos tipos de dados.


```
CREATE TABLE clientes (
    id INT PRIMARY KEY,
    nome VARCHAR(100),
    nascimento DATE,
    saldo DECIMAL(10,2)
);
```

In [7]:
nome_tabela = input("Digite o nome da tabela: ")

while True:
    try:
        quantidade_colunas = int(input("Digite a quantidade de colunas: "))
        if quantidade_colunas > 0:
            break
        else:
            print("A quantidade de colunas deve ser maior que zero.")
    except ValueError:
        print("Por favor, insira um número válido.")

colunas = []
tipos_validos = {"INT", "VARCHAR", "DATE", "DECIMAL", "FLOAT", "CHAR", "TEXT", "BOOLEAN"}
primary_key_set = False

for i in range(quantidade_colunas):
    nome_coluna = input(f"Digite o nome da {i+1}ª coluna: ").strip()

    while True:
        tipo_coluna = input(f"Digite o tipo de dado da {i+1}ª coluna (ex: VARCHAR(100), DECIMAL(10,2)): ").strip().upper()
        tipo_base = tipo_coluna.split('(')[0]

        if tipo_base in tipos_validos:
            if tipo_base == "VARCHAR" and not tipo_coluna.endswith(')'):
                print("VARCHAR deve ter um tamanho especificado, ex: VARCHAR(100).")
            elif tipo_base == "DECIMAL" and not tipo_coluna.endswith(')'):
                print("DECIMAL deve ter precisão e escala especificadas, ex: DECIMAL(10,2).")
            else:
                if not primary_key_set:
                    is_primary_key = input(f"A coluna {nome_coluna} é PRIMARY KEY? (s/n): ").strip().lower() == 's'
                    if is_primary_key:
                        tipo_coluna += " PRIMARY KEY"
                        primary_key_set = True
                colunas.append((nome_coluna, tipo_coluna))
                break
        else:
            print("Tipo de dado inválido. Tipos válidos são: INT, VARCHAR, DATE, DECIMAL, FLOAT, CHAR, TEXT, BOOLEAN")

colunas_formatadas = ",\n    ".join([f"{nome:<15} {tipo}" for nome, tipo in colunas])
comando = f"CREATE TABLE {nome_tabela} (\n    {colunas_formatadas}\n);"

print(f"\n{comando}")

Digite o nome da tabela: clientes
Digite a quantidade de colunas: 4
Digite o nome da 1ª coluna: id
Digite o tipo de dado da 1ª coluna (ex: VARCHAR(100), DECIMAL(10,2)): int
A coluna id é PRIMARY KEY? (s/n): s
Digite o nome da 2ª coluna: nome
Digite o tipo de dado da 2ª coluna (ex: VARCHAR(100), DECIMAL(10,2)): varchar
VARCHAR deve ter um tamanho especificado, ex: VARCHAR(100).
Digite o tipo de dado da 2ª coluna (ex: VARCHAR(100), DECIMAL(10,2)): varchar(100)
Digite o nome da 3ª coluna: nascimento
Digite o tipo de dado da 3ª coluna (ex: VARCHAR(100), DECIMAL(10,2)): date
Digite o nome da 4ª coluna: saldo
Digite o tipo de dado da 4ª coluna (ex: VARCHAR(100), DECIMAL(10,2)): decimal
DECIMAL deve ter precisão e escala especificadas, ex: DECIMAL(10,2).
Digite o tipo de dado da 4ª coluna (ex: VARCHAR(100), DECIMAL(10,2)): decimal(10, 2)

CREATE TABLE clientes (
    id              INT PRIMARY KEY,
    nome            VARCHAR(100),
    nascimento      DATE,
    saldo           DECIMAL(10, 2)
);